body { 

  background-color: #070545; 
  background-position: center; 
  background-size: cover; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
} 
.heading { 

  font-family: 'Pacifico', cursive; 
  margin: 35px auto 20px; 
  color: rgb(224, 212, 118);
} 
hr { 

  border-top: 2px solid rgb(250, 248, 248); 

  width: 40%; 

  margin-bottom: 55px; 
} 

.h2{
  color: bisque;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main { 

  width: 45vw; 
  height: fit-content;
  margin: auto; 
  padding: 50px; 
  border-radius: 5px; 
  background-color: rgba(226, 188, 188, 0.5); 
  color: white; 
} 


label { 

  font-size: 20px; 
} 


.btn { 

  width: 200px; 
} 


#finalAmount { 

  font-family: 'Lobster', cursive; 

  display: none; 

  margin: 50px auto; 
} 



#finalAmount h2 { 

  font-size: 50px; 
} 


.finalValue { 

  font-family: 'Amiri', serif; 
} 



@media (max-width: 768px) { 

  hr { 

      width: 60%; 

  } 

  .main { 

      width: 100%; 

  } 
} 
.btn btn-primary button{
  color: bisque;
}


@media (max-width: 400px) { 

  .heading { 

      font-size: 60px; 

  } 

  hr { 

      width: 75%; 

  } 

  #finalAmount h2, .finalValue { 

      font-size: 40px; 

  } 
}